# .github/workflows/deploy-to-s3-cloudfront.yml
name: Deploy to S3

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. repo
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2. AWS credentials
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id:     ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region:            us-east-1

      # 3. Sync assets folder
      - name: Sync assets folder
        run: |
          aws s3 sync ./assets \
            s3://${{ secrets.S3_BUCKET_NAME }}/assets \
            --delete 

      # 4. Upload tokenlist.json
      - name: Upload tokenlist.json
        run: |
          aws s3 cp ./tokenlist.json \
            s3://${{ secrets.S3_BUCKET_NAME }}/tokenlist.json

      # 5. invalidate CloudFront
      - name: Create CloudFront Invalidation
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }} \
            --paths "/"